body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 2rem;
}

h2 {
    color: brown;
}

button {
    height: 30px;
    width: 158px;
    background-color: darkblue;
    color: white;
}

input {
    height: 20px;
    width: 150px;
}

button:hover {
    cursor: pointer;
}